.DashboardBgMain {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}

.DashboardChatMain {
	width: calc(100% - 20vw);
	height: calc(100% - 8vh);

	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 10px;
	display: flex;
}

.DashboardSidebar {
	width: 15rem;
	padding: 1rem;
}

.DashboardMainPage {
	width: calc(100% - 15rem);
	& .MainPageHeading{
		padding: 0.5rem 1rem;
		cursor: pointer;

		& .GroupName{
			color: black;
			transition: color .3s ease-in;
		}

		&:hover .GroupName{
			color: dodgerblue;
			transition: color .3s ease-out;
		}

		& .GroupParticipantName{
			font-size: 12px;
			color: gray;
		}
	}


}
