.DashboardBgMain {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}

.DashboardChatMain {
	width: calc(100% - 20vw);
	height: calc(100% - 8vh);
	overflow: hidden;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 10px;
	display: flex;
}

.DashboardSidebar {
	width: 15rem;

	& .SidebarGroups{
		height: calc(100% - 56px);

		& .SidebarHeader{
			padding: 0.5rem 1rem;
			box-shadow: rgba(0, 0, 0, 0.16) -1px 1px 4px;
			height: 3.5rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		
		& .ListGroupMain{
			& .ListGroup{
				display: flex;
				align-items: center;
				gap: 0.5rem;
			}
		}
	}

	& .SidebarOptions{
		padding: 0.5rem 1rem;
		display: flex;
		gap: 1rem;

		& button {
			background-color: black;
			height: 36px;
		}
	}
}

.DashboardMainPage {
	width: calc(100% - 15rem);
	
	& .MainPageHeading{
		padding: 0.5rem 1rem;
		cursor: pointer;
		height: 3.5rem;

		& .GroupName{
			color: black;
			transition: color .3s ease-in;
		}

		&:hover .GroupName{
			color: dodgerblue;
			transition: color .3s ease-out;
		}

		& .GroupParticipantName{
			font-size: 12px;
			color: gray;
		}
	}

	& .MainPageContent{
		padding: 0.5rem 1rem;
		overflow: scroll;
		height: calc(100% - 7.1rem);
	}

	& .MainPageFooter{
		padding: 0.5rem 1rem;
		cursor: pointer;
		height: 3.5rem;
		display: flex;
		align-items: center;
    gap: 0.5rem;
	

		& .TextHolder{
			border: 2px solid lightgray;
			height: 100%;
			width: 100%;
			border-radius: 8px;

			& .TextAreaInput{
				border: none;
				height: 100% !important;
				padding-top: 7px;

				&:focus{
					box-shadow: none;
				}
				
				&:focus-within{
					box-shadow: none;
				}
			}
		}

		& .SendChatBtn{

			& button {
				background-color: black;
				height: 36px;
				width: 36px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
