.AuthFormFields {
	& .AuthFormSubmitBtn {
		margin-top: 0.5rem;
		background-color: black;
		height: 40px;

		&:hover {
			background-color: rgb(48, 48, 48) !important;
		}
	}

	& .AuthFormLink {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 0.5rem;
		font-weight: 600;
	}
}


@media screen and (max-width: 430px) {
	.AuthFormFields {
		& :global(.ant-form-item) {
			margin-bottom: 1.5rem;
		}

		& :global(.ant-col) {
			& label {
				font-weight: 600;
				font-size: 14px;
			}
		}

		& .LoginEmail {
			& input {
				font-size: 14px;
				height: 45px !important;
			}
		}

		& .LoginPassword {
			& :global(.ant-input-password) {
				font-size: 14px;
				height: 45px !important;
			}
		}

		& .AuthFormSubmitBtn {
			height: 45px;
			width: 6rem;
			font-size: 14px;
			font-weight: 600;
		}

		& .AuthFormLink {
			font-size: 14px;
			font-weight: 600;
		}
	}
}
