.ModalMain {
	& :global(.ant-modal-body) {
		margin-top: 1rem;
	}

	& .AuthFormStepsSubmitBtns {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1.5rem;
	
		& button {
			margin: 0;
		}
	}
}
