.AuthBgMain{
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.AuthFormMain {
	width: 25rem;
	padding: 2rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 10px;
}

.AuthFormHeading {
	margin-bottom: 2rem;
}

.AuthFormSubmitBtn {
	background-color: black;
	margin-bottom: 0.8rem;
	height: 40px;
	cursor: pointer;
}

.AuthFormSubmitBtn:hover {
	background-color: rgb(48, 48, 48) !important;
}

.AuthFormChecksAndLinks {
	display: flex;
	justify-content: center;
	width: 100%;
}

.AuthFormLink,
.AuthFormCheckbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.AuthFormLink {
	margin-top: 0.5rem;
    font-weight: 600;
}

.AuthFormOAuthBtns img {
	width: 1.2rem;
}

.AuthFormStepsSubmitBtns{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}

.AuthFormStepsSubmitBtns button{
	margin: 0;
}

@media screen and (max-width: 425px) {
	.AuthFormHeading {
			text-align: center;
	}
    
	.AuthFormMain {
		width: 90%;
	}

	.AuthFormChecksAndLinks {
		justify-content: flex-start;
	}

	.AuthFormLink,
	.AuthFormCheckbox {
		justify-content: flex-start;
	}
}