.AuthBgMain{
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
	flex-direction: column;
}

.AuthFormMain {
	transition: width .3s ease-in-out;
	padding: 2rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 10px;
}

.AuthFormHeading {
	margin-bottom: 2rem;
}

.AuthFormSubmitBtn {
	background-color: black;
	margin-bottom: 0.8rem;
	height: 40px;
	cursor: pointer;
}

.AuthFormSubmitBtn:hover {
	background-color: rgb(48, 48, 48) !important;
}

.AuthFormChecksAndLinks {
	display: flex;
	justify-content: center;
	width: 100%;
}

.AuthFormLink,
.AuthFormCheckbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.AuthFormLink {
	margin-top: 0.5rem;
    font-weight: 600;
}

.AuthFormStepsSubmitBtns{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}

.AuthFormStepsSubmitBtns button{
	margin: 0;
}

@media screen and (max-width: 425px) {
	.AuthFormHeading {
			text-align: center;
	}
    
	.AuthFormMain {
		width: 90%;
	}

	.AuthFormChecksAndLinks {
		justify-content: flex-start;
	}

	.AuthFormLink,
	.AuthFormCheckbox {
		justify-content: flex-start;
	}
}

.GroupListHeading{
	padding: 0 0 8px;
	&::before{
		display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
	}
}

.GroupsList{
	max-height: 18rem;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	overflow: hidden;
	overflow-y: scroll;
	gap: 1rem;

	& .GroupInfoHeader{
		box-shadow: rgba(217, 217, 217, 0.66) 0px 1px 4px;
		border-radius: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
		position: relative;
		cursor: pointer;
		transition: box-shadow 0.3s;

		&:hover{
			box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;

			& .roundCheckbox {
				display: block;
				transform: scale(1.1);
				opacity: 1;
			}
		}

		& .roundCheckbox {
			position: absolute;
			top: 5px;
			right: 5px;
			display: none;
			transition: transform 0.3s, opacity 0.3s;
		}

		& .visible {
			display: block !important;
			opacity: 1 !important;
		}
	}

	& .checked {
		& .roundCheckbox {
			display: block;
		}
	}
	
	& .GroupsName {
		font-size: 12px;
	}
}