.ListGroup {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	height: 3.5rem;
	cursor: pointer;
	
	& .GroupDetails{
		& p{
			font-size: 14px;
			color: black;
			transition: color .3s ease-out;
		}
	}
	
	&:hover .GroupDetails{
		& p{
			color: dodgerblue;
			transition: color .3s ease-out;
		}
	}
}